@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:' Roboto',sans-serif;
}


nav {
    text-align: center;
    background-color: #a18262;    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .menu{
    overflow: hidden;
  }
  .menu a{
    float: right;
    
  }
  ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
  }
  
  
  li {
      margin-left: 20px;
  }
  
  
  a {
      font: 1.2rem 'Roboto', sans-serf;
      color: #fff;
      text-decoration: none;
      
  }

li{
    list-style: none;
}


.menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.a-menu{
    font-size: 1.15rem;
    transition: 0.5s ease;
}
.a-menu:hover{
    color: #d2c800;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}


form {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a0522d;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: calc(100% - 120px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 50px;
    resize: none;
}

button[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    background-color: #d2691e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button[type="submit"],
button[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8b4513;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover,
button[type="button"]:hover {
    background-color: #a0522d;
}

.cartao img {
    width: 50px;
    vertical-align: middle;
}


footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a18262;
	padding: 10px;
    text-align: center;
}

footer p{
	text-align: center;
	color: rgb(231, 208, 208);
}

footer a{
	color: #FFF;
}

footer a:hover{
	color: #cdd400;
}