@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body {
    background: linear-gradient(to bottom, #4b2e2e, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


nav {
    background-color: #a18262;
    padding: 10px;
    display: flex;
    justify-content: flex-start; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    font-size: 1.2rem;
    color: #080808;
    text-decoration: none;
    transition: 0.5s ease;
}

a:hover {
    color: #4a02ff;
}

.C-title {
    margin-left: 5rem;
    margin-top: 10rem;
    color: #fff;
}

.C-title h1 {
    font-size: 4.8rem;
}

.C-title p {
    color: rgb(231, 208, 208);
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.C-title button {
    margin-top: 1rem;
    background-color: #d3ad7f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.C-title button:hover {
    letter-spacing: 2px;
    transition: 0.3s all;
}

/*saches*/

.container-saches {
    background-color: #4b2c20;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 450px;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: #fff;
    text-align: center;
}

.saches {
    margin-top: 20px;
    text-align: center;
}

.sache {
    margin-bottom: 20px;
    text-align: center;
}

.sache h2 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.sache ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.sache li {
    color: #fff;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    list-style: circle;
    
}
/* #maquinas */
body{
    overflow-x: auto; 
    overflow-y: auto;
}
.container-maquinas {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(203, 3, 3, 0.1);
    width: 50%;
    max-width: 800px;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; 
}

thead {
    background-color: #d3b274;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    color: #fff;
    font-weight: bold;
}



td img {
    max-width: 70px;
    height: auto;
}


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.preco {
    font-weight: bold;
    color: red;
}

  /*compras*/

  .container-compras{
    padding: 10px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(203, 3, 3, 0.1);
    width: 50%;
    max-width: 800px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

 .compras {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}



form {
    width: 600px;
    margin: auto;
    padding: 10px;
    background-color: #a0522d;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
    background-color: #a18262;
}
.section-produtos {
    background-color: #a18262;
}
.section-pagamento{
background-color: #a18262;
margin-right: 0;
}

h2 {
    margin-bottom: 10px;
}


#nome{
    width: 250px;
}
#cpf{
    width: 100px;
}

#email{
    width: 250px;
}
#telefone{
    width: 110px;
}

#validade {
    margin-top: 10px;
    margin-bottom: 5px;
}
.maq {
    width: 100px;
}
#saches {
    width: 100px;
}

#valor{
    width: 50px;
}

#numero {
    width: 150px;
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;

}

input[type="text"],
input[type="email"],
textarea,
select {
    width: calc(100% - 120px);
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 50px;
    resize: none;
}

button[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    background-color: #1099BB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button[type="submit"],
button[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1099BB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover,
button[type="button"]:hover {
    background-color: #efc7b3;
}

.cartao img {
    width: 50px;
    vertical-align: middle;
}
fieldset{
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a18262;
    padding: 10px;
    text-align: center;
}

footer p {
    color: rgb(231, 208, 208);
}

footer a {
    color: #FFF;
    text-decoration: none;
}

footer a:hover {
    color: #cdd400;
}
