body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #d3b274;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    color: #fff;
    font-weight: bold;
}

td img {
    max-width: 100px;
    height: auto;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.figure-caption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}
