*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: #a18262;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.navBar{
 min-width: 70px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: #d2c800;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #d3b274;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    color: #fff;
    font-weight: bold;
}

td img {
    max-width: 100px;
    height: auto;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.figure-caption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

footer p{
	text-align: center;
	color: rgb(231, 208, 208);
}

footer a{
	color: #FFF;
}

footer a:hover{
	color: #cdd400;
}
@media (max-width:768px){
.hamburguer{
    display: block;
}
.hamburguer.active .bar:nth-child(2){
    opacity: 0;
}
.hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    border-radius: 0 0 15px 15px;
    background-color: #101026;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
}
.nav-item{
    margin: 16px 0;
}
.nav-menu.active{
    left: 0;
}
}
 